﻿@using Microsoft.AspNetCore.Identity
@using FotocasaTechnicalTest.IDP.Common.Models
@inject UserManager<ApplicationUser> UserManager

<div class="text-center">
    <h1 class="display-4">Welcome @UserManager.GetUserName(User)!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
